<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>

		       <nav style="text-align:center">
						 <ul>
		          	<li>	<a href="/index.html"  >Home</a></li>
		  					<li>	<a href="/research.html"  >Research</a></li>
		  					<li>	<a href="/curriculum.html"  >CV</a> </li>
		          	<li>	<a href="/teaching.html"  >Teaching</a> </li>
								<li>	<a href="/psht.html"  >PSHT Online Seminar</a> </li>
							</ul>
		      	</nav>

					<header>
						<h1 class="title">PSHT Online Seminar</h1>
						<!--<img src="photo.jpg" alt="Theo Lacombe" class="picture" />-->
						<p class="subtitle">Persistence, Sheaves and Homotopy Theory Online Seminar</p>
					</header>



			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer style="text-align:center">
	        <ul>
	            <li><a href="mailto:firstsurnameletter+name@cnil.fr">Email</a></li>
	            <li><a href="https://github.com/nberkouk">Github</a></li>
	      <li><a href="https://scholar.google.fr/citations?user=nxkO-kIAAAAJ&hl=fr">Google Scholar</a></li>
	      </ul>
	    </footer>
		</body>
	</html>
