<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>

		       <nav> <justify>
						 <ul>
		          	<li>	<a href="/index.html"  >Home</a></li>
		  					<li>	<a href="/research.html"  >Research</a></li>
		  					<li>	<a href="/curriculum.html"  >CV</a> </li>
		          	<li>	<a href="/teaching.html"  >Teaching</a> </li>
							</ul> </justify>
		      	</nav>

					<IMG class="displayed" src="photo_circle.png" >
					<header>
						<h1 class="title">Nicolas Berkouk</h1>
						<!--<img src="photo.jpg" alt="Theo Lacombe" class="picture" />-->
						<p class="subtitle">Post-doctoral researcher - EPFL's Topology and Neuroscience team</p>
					</header>



			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	        <ul>
	            <li><a href="mailto:nicolas.berkouk@epfl.ch">Email</a></li>
	            <li><a href="https://github.com/nberkouk">Github</a></li>
	      <li><a href="https://scholar.google.fr/citations?user=nxkO-kIAAAAJ&hl=fr">Google Scholar</a></li>
	      </ul>
	    </footer>
		</body>
	</html>
